/* 
-------MOBILE DEVICES------ 
-----TABLE OF CONTENTS-----


*/

@media screen and (max-width: 600px) {

  /* ----- TEXT SETTINGS ----- */
  .titletext {
    color: #f5f5f5;
    font-family: 'pexico_microregular';
    border-style: solid;
    font-size: 100%;
    margin-left: 8%;
    margin-top: 8%;
    padding: 5px 10px 5px 10px;
    z-index: 1;
  }

  /* Logo styling for mobile */
  .header-logo {
    height: 6.5em;
    width: auto;
    z-index: 1;
  }

  .logo-link {
    display: inline-block;
    margin-left: 4%;
    margin-top: 4%;
  }

  .subhead {
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 115%;
  }

  .subhead > .title {
    margin: 5% 0 -4% 0;
  }

  .subhead > .info {
    font-size: 65%;
    margin: 0 8% 10% 8%;
  }

  .subhead > .purchtext {
    font-size: 75%;
    margin: 0 0 0 0;
  }

  /* ----- ICON SETTINGS ----- */
  .topicon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(194deg) brightness(109%) contrast(101%);
    margin-right: 8%;
    margin-top: 10%;
  }

  .midicon  {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(194deg) brightness(109%) contrast(101%);
    height: 15em;
    margin: auto;
  }

  /* ----- BUTTON SETTINGS ----- */
  .BuyButton {
    background-color:#44c767;
    border:1px solid #18ab29;
    text-align: center;
    cursor:pointer;
    color:#ffffff;
    font-family:'HelveticaNeueLT Pro 65 Md';
    font-size:17px;
    padding:16px 31px;
    margin: 2% 5% 2% 5%;
    text-decoration:none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .BuyButton:hover {
    background-color:#5cbf2a;
  }
  
  .BuyButton:active {
    position:relative;
    top:1px;
  }

  /* ----- GRID/BLOCK SETTINGS ----- */
  .main-grid {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr) ;
  }

  .card {
    grid-column: 1 / 4;
    align-items: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 1.25em;
    background-color: black;
    font-family:'HelveticaNeueLT Pro 65 Md';
    color: #CFCFCF;
  }
 
  .card > a {
    margin: auto 0 auto 10%;
  }

  .card-footer {
    grid-column: 1 / 4;
    display: flex;
    align-items: start;
    justify-content: space-between;
    background-color: black;
    font-family:'HelveticaNeueLT Pro 65 Md';
    color: #CFCFCF;
  }

  .card-footer > img {
    margin: auto;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(194deg) brightness(109%) contrast(101%);
    height: 25px;
    width: auto;
  }

  .card-footer > p {
    margin: auto;
    font-size: 75%;
  }

  .buffer-card {
    grid-column: 1 / 4;
    background-color: black;
  }

  .card-title {
    display: flex;
    align-items: start;
    justify-content: space-between;
    color: black;
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* NEW: iPhone safe area padding for Dynamic Island */
    padding-top: env(safe-area-inset-top);
  }
  

  /*-----SELL PAGE-----*/

  .card-shop-title {
    color: black;
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    min-height: 100%;
  }

  .card-shop-title > .titletext {
    position: absolute; 
    z-index: 1;
    margin-left: 2%;
    margin-top: 2%;
    color: white;
    background: rgba(0, 0, 0, .5);
  }

  .sellimg {
    max-width:100%;
    max-height:100%;
  }

  .column-card {
    color: black;
    grid-column: 1 / 4;
    grid-row: 3 / 7;
  }

  .column-card > h1 {
    text-align: center;
  }

  .column-card > h3 {
    text-align: center;
  }

  .column-card > p {
    font-size: 90%;
    margin: 0 5% 0 5%;
  }

  .column-card > h4 {
    text-align: left;
    margin-left: 5%;
    position: absolute;
    left: 0;
    bottom: 3em;
  }

  .checkout {
    background-color: #3BC14A;
    width: 100%;
    height: 4em;
    font-size: 1em;
    border: none;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    font-family:'HelveticaNeueLT Pro 65 Md';
    position: absolute;
    right: 0;
    bottom: 0;
  }
    
  .checkout:hover {
    color: #4DA167;
    cursor: pointer;
  }


  /* -----About Page----- */

  .card-aux-title {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: black;
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .card-aux-title > .titletext {
    color: white;
    background: rgba(0, 0, 0, .5);
  }

  /* NEW: Redesigned About Page */
  .about-grid {
    background-color: black;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .about-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4% 4% 2% 4%;
    padding-top: calc(4% + env(safe-area-inset-top));
    background-color: black;
  }

  .about-header .header-logo {
    height: 5em;
  }

  .about-header-title {
    color: white;
    font-family: 'pexico_microregular';
    font-size: 1.5em;
    border: 2px solid white;
    padding: 8px 16px;
  }

  .about-hero {
    padding: 8% 6%;
    border-top: 3px solid #6ABD45;
  }

  .about-hero h1 {
    color: white;
    font-family: 'pexico_microregular';
    font-size: 2em;
    margin: 0 0 4% 0;
    line-height: 1.1;
  }

  .about-hero h1 span {
    color: #6ABD45;
  }

  .about-hero p {
    color: #CFCFCF;
    font-family: 'HelveticaNeueLT Pro 65 Md';
    font-size: 0.95em;
    line-height: 1.6;
    margin: 0;
  }

  .about-section {
    padding: 6% 6%;
    border-top: 1px solid #333;
  }

  .about-section h2 {
    color: #6ABD45;
    font-family: 'pexico_microregular';
    font-size: 1.1em;
    margin: 0 0 4% 0;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .about-section p {
    color: #CFCFCF;
    font-family: 'HelveticaNeueLT Pro 65 Md';
    font-size: 0.9em;
    line-height: 1.7;
    margin: 0 0 4% 0;
  }

  .about-section p:last-child {
    margin-bottom: 0;
  }

  .about-image {
    width: 100%;
    margin: 6% 0;
    border: 2px solid #6ABD45;
  }

  .about-image img {
    width: 100%;
    height: auto;
    display: block;
  }

  .about-image-caption {
    color: #6ABD45;
    font-family: 'pexico_microregular';
    font-size: 0.7em;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 3% 4%;
    border-top: 1px solid #6ABD45;
    background-color: rgba(106, 189, 69, 0.1);
  }

  .about-footer {
    padding: 6%;
    border-top: 3px solid #6ABD45;
    margin-top: auto;
  }

  .about-footer p {
    color: #666;
    font-family: 'HelveticaNeueLT Pro 65 Md';
    font-size: 0.75em;
    margin: 0;
    text-align: center;
  }

  .stat-block {
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
    margin: 6% 0;
  }

  .stat-item {
    flex: 1 1 45%;
    border-left: 2px solid #6ABD45;
    padding-left: 4%;
    margin-bottom: 4%;
  }

  .stat-item .number {
    color: #6ABD45;
    font-family: 'pexico_microregular';
    font-size: 1.5em;
    display: block;
  }

  .stat-item .label {
    color: #CFCFCF;
    font-family: 'HelveticaNeueLT Pro 65 Md';
    font-size: 0.7em;
    text-transform: uppercase;
    letter-spacing: 1px;
  }


  /* ----- Login Page ----- */

  .card-login {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    grid-column: 1 / 4;
    grid-row: 3 / 7;
    background-color: #3BC14A;
    font-size: 5em;
  }


  /* ----- VIEW DB ----- */

  .db-grid {
    background-color: #6DD87D;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-auto-flow: row;
  }

  .dbcard {
    align-items: left;
    justify-content: center;
    grid-column: 1 / 4;
    display: inline-block;
    flex-direction: row;
    background-color: black;
  }

  .dbcard > p {
    font-family:'HelveticaNeueLT Pro 65 Md';
    font-size: 1.5em;
    color: #CFCFCF;
  }

  .dbcard > .minfo {
    font-family:'HelveticaNeueLT Pro 65 Md';
    font-size: 1.5em;
    color: #CFCFCF;
    margin: 0 10% 10% 10%;
    padding: 1%;
    background-color: #0BE12B;
    justify-content: center;
    text-align: center;
  }

}

/* -----GLOBAL SETTINGS----- */

/* LINK SETTINGS */
a:link, a:visited {
  text-decoration: none;
  font-family:'HelveticaNeueLT Pro 65 Md';
  color: white;
}
  
a:hover, a:active {
  text-decoration: none;
  color: purple;
}


/* LOGIN BUTTON (shared between mobile/desktop) */
.loginbutton {
  width: 100%;
  height: 1em;
  position: relative;
  font-size: .5em;
  background-color: #CFCFCF; 
  border: none;
  color: black;
  margin-top: 1em;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'pexico_microregular';
}

.loginbutton:hover, .loginbutton:active {
  color:green;
  background-color: black;
}
  
/* LOGIN INPUT FIELDS (shared between mobile/desktop) */
.pwinp, .usrinp {
  height: 3em;
  font-size: .25em;
  background-color: #CFCFCF; 
  border: none;
  color: black;
  padding: .25em .25em;
  text-decoration: none;
  font-family: 'pexico_microregular';
}
  
.userlabel, .passlabel {
  color: #f5f5f5;
  font-size: 55%;
  font-family: 'pexico_microregular';
  margin-top: 1em;
}

/* DB hover state (shared) */
.minfo:hover, .minfo:active {
  color:green;
  background-color: black;
}


/* ----- Site Fonts ----- */
@font-face {
  font-family: 'pexico_microregular';
  src: url('../fonts/setup_-_pexicomicro-regular-webfont.woff2') format('woff2'),
       url('../fonts/setup_-_pexicomicro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'HelveticaNeueLT Pro 65 Md';
  src: url('../fonts/HelveticaNeueLTPro-Md.eot');
  src: url('../fonts/HelveticaNeueLTPro-Md.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueLTPro-Md.woff2') format('woff2'),
  url('../fonts/HelveticaNeueLTPro-Md.woff') format('woff'),
  url('../fonts/HelveticaNeueLTPro-Md.ttf') format('truetype'),
  url('../fonts/HelveticaNeueLTPro-Md.otf') format('opentype'),
  url('../fonts/HelveticaNeueLTPro-Md.svg#HelveticaNeueLTPro-Md') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-02DC;
}

/* HTML and BODY */
html {
  font-family:'HelveticaNeueLT Pro 65 Md';
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin:0;
  /* NEW: Black background for iPhone safe areas */
  background-color: black;
}
  
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin:0;
  /* NEW: iPhone safe area padding */
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}
  
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
      background-color: transparent;
  }
  50% {
      opacity: 1;
      background-color: #4D5057;
   }
}

/* 
------- DESKTOP ------ 
-----TABLE OF CONTENTS-----


*/
@media screen and (min-width: 601px) {

  /* ----- TEXT SETTINGS ----- */
  .titletext {
    color: #f5f5f5;
    font-family: 'pexico_microregular';
    border-style: solid;
    font-size: 150%;
    margin-left: 5%;
    margin-top: 5%;
    padding: 5px 10px 5px 10px;
    z-index: 1;
  }

  /* Logo styling for desktop */
  .header-logo {
    height: 7em;
    width: auto;
    z-index: 1;
  }

  .logo-link {
    display: inline-block;
    margin-left: 3%;
    margin-top: 3%;
  }

  .subhead {
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 115%;
  }

  .subhead > .title {
    margin: 3% 0 0 0;
    font-size: 150%;
  }

  .subhead > .info {
    font-size: 75%;
    margin: 0 0 3% 0;
  }

  .subhead > .purchtext {
    font-size: 75%;
    margin: 0 0 0 0;
  }

  /* ----- ICON SETTINGS ----- */
  .topicon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(194deg) brightness(109%) contrast(101%);
    margin-right: 5%;
    margin-top: 5%;
  }

  .midicon  {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(194deg) brightness(109%) contrast(101%);
    height: 15em;
    margin: auto;
  }

  /* ----- BUTTON SETTINGS ----- */
  .BuyButton {
    background-color:#44c767;
    border:1px solid #18ab29;
    text-align: center;
    cursor:pointer;
    color:#ffffff;
    font-family:'HelveticaNeueLT Pro 65 Md';
    font-size:17px;
    padding:16px 31px;
    margin: .5% 5% 2% 5%;
    text-decoration:none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .BuyButton:hover {
    background-color:#5cbf2a;
  }
  
  .BuyButton:active {
    position:relative;
    top:1px;
  }

  /* ----- GRID/BLOCK SETTINGS ----- */
  .main-grid {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr) ;
  }

  .card {
    grid-column: 1 / 4;
    align-items: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 1.25em;
    background-color: black;
    font-family:'HelveticaNeueLT Pro 65 Md';
    color: #CFCFCF;
  }
 
  .card > a {
    margin: auto 0 auto 10%;
  }

  .card-footer {
    grid-column: 1 / 4;
    display: flex;
    align-items: start;
    justify-content: space-between;
    background-color: black;
    font-family:'HelveticaNeueLT Pro 65 Md';
    color: #CFCFCF;
  }

  .card-footer > img {
    margin: auto;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(194deg) brightness(109%) contrast(101%);
    height: 25px;
    width: auto;
  }

  .card-footer > p {
    margin: auto;
    font-size: 75%;
  }

  .buffer-card {
    grid-column: 1 / 4;
    background-color: black;
  }

  .card-title {
    display: flex;
    align-items: start;
    justify-content: space-between;
    color: black;
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    background-repeat: no-repeat;
  }
  

  /*-----SELL PAGE-----*/

  .card-shop-title {
    color: black;
    grid-column: 1 / 4;
    grid-row: 1 / 3;
  }

  .card-shop-title > .titletext {
    position: absolute; 
    z-index: 1;
    margin-left: 2%;
    margin-top: 2%;
    color: white;
    background: rgba(0, 0, 0, .5);
  }

  .sellimg {
    max-width:100%;
    max-height:100%;
  }

  .column-card {
    color: black;
    grid-column: 1 / 4;
    grid-row: 3 / 7;
  }

  .column-card > h1 {
    text-align: center;
    font-size: 200%;
  }

  .column-card > h3 {
    text-align: center;
    font-size: 150%;
  }

  .column-card > p {
    font-size: 125%;
    margin: 0 5% 0 5%;
  }

  .column-card > h4 {
    text-align: left;
    margin-left: 5%;
    position: absolute;
    left: 0;
    bottom: .55em;
    font-size: 200%;
  }

  .checkout {
    background-color: #3BC14A;
    width: 100%;
    height: 4em;
    font-size: 1em;
    border: none;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    font-family:'HelveticaNeueLT Pro 65 Md';
    position: absolute;
    right: 0;
    bottom: 0;
  }
    
  .checkout:hover {
    color: #4DA167;
    cursor: pointer;
  }


  /* -----About Page----- */

  .card-aux-title {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: black;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .card-aux-title > .titletext {
    color: white;
    background: rgba(0, 0, 0, .5);
  }

  /* NEW: Redesigned About Page - Desktop */
  .about-grid {
    background-color: black;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .about-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 4%;
    background-color: black;
  }

  .about-header .header-logo {
    height: 6em;
  }

  .about-header-title {
    color: white;
    font-family: 'pexico_microregular';
    font-size: 2em;
    border: 2px solid white;
    padding: 10px 24px;
  }

  .about-hero {
    padding: 4% 10%;
    border-top: 3px solid #6ABD45;
  }

  .about-hero h1 {
    color: white;
    font-family: 'pexico_microregular';
    font-size: 3.5em;
    margin: 0 0 2% 0;
    line-height: 1.1;
  }

  .about-hero h1 span {
    color: #6ABD45;
  }

  .about-hero p {
    color: #CFCFCF;
    font-family: 'HelveticaNeueLT Pro 65 Md';
    font-size: 1.2em;
    line-height: 1.6;
    margin: 0;
    max-width: 70%;
  }

  .about-section {
    padding: 3% 10%;
    border-top: 1px solid #333;
  }

  .about-section h2 {
    color: #6ABD45;
    font-family: 'pexico_microregular';
    font-size: 1.3em;
    margin: 0 0 2% 0;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .about-section p {
    color: #CFCFCF;
    font-family: 'HelveticaNeueLT Pro 65 Md';
    font-size: 1.1em;
    line-height: 1.8;
    margin: 0 0 2% 0;
    max-width: 80%;
  }

  .about-section p:last-child {
    margin-bottom: 0;
  }

  .about-image {
    width: 60%;
    margin: 3% 0;
    border: 2px solid #6ABD45;
  }

  .about-image img {
    width: 100%;
    height: auto;
    display: block;
  }

  .about-image-caption {
    color: #6ABD45;
    font-family: 'pexico_microregular';
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 2% 3%;
    border-top: 1px solid #6ABD45;
    background-color: rgba(106, 189, 69, 0.1);
  }

  .about-footer {
    padding: 3% 10%;
    border-top: 3px solid #6ABD45;
    margin-top: auto;
  }

  .about-footer p {
    color: #666;
    font-family: 'HelveticaNeueLT Pro 65 Md';
    font-size: 0.9em;
    margin: 0;
  }

  .stat-block {
    display: flex;
    gap: 5%;
    margin: 3% 0;
  }

  .stat-item {
    border-left: 2px solid #6ABD45;
    padding-left: 2%;
  }

  .stat-item .number {
    color: #6ABD45;
    font-family: 'pexico_microregular';
    font-size: 2.5em;
    display: block;
  }

  .stat-item .label {
    color: #CFCFCF;
    font-family: 'HelveticaNeueLT Pro 65 Md';
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 2px;
  }


  /* ----- Login Page ----- */

  .card-login {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    grid-column: 1 / 4;
    grid-row: 2 / 7;
    background-color: #3BC14A;
    font-size: 3.5em;
    height: 100%;
    width: 100%;
  }

  /* Desktop-specific login input adjustments */
  .pwinp, .usrinp {
    width: 55%;
    margin-right: 90%;
    margin-left: 1%;
  }
    
  .userlabel, .passlabel {
    margin-right: 90%;
    margin-left: 1%;
  }

  /* ----- VIEW DB ----- */

  .db-grid {
    background-color: #6DD87D;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-auto-flow: row;
  }

  .dbcard {
    align-items: left;
    justify-content: center;
    grid-column: 1 / 4;
    display: inline-block;
    flex-direction: row;
    background-color: black;
  }

  .dbcard > p {
    font-family:'HelveticaNeueLT Pro 65 Md';
    font-size: 1.5em;
    color: #CFCFCF;
  }

  .dbcard > .minfo {
    font-family:'HelveticaNeueLT Pro 65 Md';
    font-size: 1.5em;
    color: #CFCFCF;
    margin: 0 10% 10% 10%;
    padding: 1%;
    background-color: #0BE12B;
    justify-content: center;
    text-align: center;
  }

}