{% extends "base.html" %}
{% block title %} About Page {% endblock %}
{% block head %}

{% endblock %}

{% block sectionconfig %}<section class="main-grid">{% endblock %}
{% block titleconfig %}<div class="card-aux-title" style="background-color: #880808;">{% endblock %}
{% block pagetitle %} BACK {% endblock %}
{% block titleicon %} <p style="color: white; font-family: 'pexico_microregular'; text-align: center; align-self: center; font-size: 200%; text-decoration: underline;">About Us</p>{% endblock %}

{% block content %}

<div class="column-card">
    <p style="text-align: center; margin-top: 5%; font-size: 115%; font-family: 'pexico_microregular'; border: 3px solid black;">XIS</p>
    <p style="margin: 2% 5% 2% 5%;">Founded in my fathers garage in 2021. Still in a garage, but a much nicer one. Just want to make no nonsense machines.</p>
</div>

{% endblock %}