{% extends "base.html" %} 
{% block title %} Home Page {% endblock %}
{% block titleconfig %} <div class="card-title" style="background-image: url('../static/images/splashdemo.png');"> {% endblock %}
{% block pagetitle %}<img src="../static/images/Tulllogo.png" alt="TULL" class="logo-img">{% endblock %}
{%block titleicon %}<img src="../static/icons/databaseicon.svg" class="topicon" onclick="window.top.location.href='/viewdb';"> {% endblock %}
{% block content %} 
<div class="buffer-card"> <span class="subhead"> <p class="title"> Not yet. Almost...</p> </br> <p class="info">A system with more functionality at a much lower price. </br> The Hydroponics industry is overcharging consumers. </br> Milking you like a cow.</p> <p class="purchtext"> Go on, Get One.</p></span>  <a href="/sell" class="BuyButton">Purchase Now</a></div>
<div class="card"><a id="contact" href="/contact"> CONTACT <span style="color: #6DD87D;">TULL</span> </a></div>   
<div class="card"><a id="about" href="/about"> ABOUT <span style="color: #6DD87D;">TULL</span> </a></div>
<div class="card-footer">  <p>TULL LLC. 2022</p> <img src="../static/icons/instagram.svg"> <img src="../static/icons/twitter.svg"> </div>
{% endblock %}