{% extends "base.html" %} 
{% block title %} Employee Login {% endblock %}
{% block head %} 
<style scoped>
    @media screen and (max-width: 600px) {
        .maintext {
            color: black; 
            font-family: 'pexico_microregular'; 
            text-align: center; 
            align-self: center; 
            font-size: 200%; 
            border: 8px solid black; 
            padding: 10%;
        }

    }

    @media screen and (min-width: 601px) {

        .maintext {
            color: black; 
            font-family: 'pexico_microregular'; 
            text-align: center; 
            align-self: center; 
            font-size: 200%; 
            border: 8px solid black; 
            padding: 2%;
            margin-bottom: 2%;
            margin-top: -2%;
        }

    }



</style>
{% endblock %}
{% block sectionconfig %}<section class="main-grid">{% endblock %}
{% block titleconfig %}<div class="card-aux-title" style="background-color: #CFCFCF;">{% endblock %}
{% block pagetitle %} BACK {% endblock %}
{% block titleicon %} <p class="maintext">Employee Login</p>{% endblock %}

{% block content %} 

<div class="card-login">
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        
        <label for="username" class="userlabel" >Username</label>
        <input id="username" name="username" class="usrinp" placeholder="Enter Username"/>


        <label for="password" class="passlabel">Password</label>
        <input id="password" name="password" placeholder="Enter Password" class="pwinp"/> 


        <button type="submit" class="loginbutton">LOGIN</button>


    </form>
</div>
{% endblock %}