{% extends "base.html" %} 
{% block title %} Database Viewer {% endblock %}
{% block head %} 
<style scoped>
    html {
        font-family:'HelveticaNeueLT Pro 65 Md';
        height: 100%;
        width: 100%;
        overflow-x: scroll;
        overflow-y: scroll;
        margin:0;
      }

      body::-webkit-scrollbar {
        width: 0.25rem;
      }
      
      body::-webkit-scrollbar-track {
        background: black;
      }
      
      body::-webkit-scrollbar-thumb {
        background: #0BE12B;
      }
</style>
{% endblock %}
{% block sectionconfig %}<section class="db-grid">{% endblock %}
{% block titleconfig %} <div class="card-title" style="padding: 5%;" onclick = "window.top.location.href='/viewdb';"> {% endblock %}
{% block titletext %}<p class="titletext" style="margin: auto; padding: 1%; text-align: center;"><a href="/viewdb" style="font-family: pexico_microregular;">{% endblock %}
{% block pagetitle %} <span class = "titlehighlight">Info For:&nbsp</span> {{customer_info.name}} {% endblock %}
{% block titleicon %}<img src="../static/icons/backarrow.svg" class="topicon" style="margin: auto; padding-top: 2%;" onclick="window.top.location.href='/viewdb';">  {% endblock %}

{% block content %} 

<div class="dbcard">
  <p style="text-align: center; font-size: 150%;">{{customer_info.email}} </p> 
    <p style="text-align: center; font-size: 100%;">Total Number of Purchases:&nbsp{{customer_purchasesno}} </p> 
    <p style="text-align: center; font-size: 75%;">Most Recent Purchase Is on The Bottom</p>
</div>
<div class="dbcard" style="background-color: #CFCFCF; min-height: 20px; height: auto;"> </div>


{% for i in customer_purchase_info %}

    <div class="card">
        <p style="margin: auto; padding-top: 5%;">{{i.product_name}}</br>
        {{i.purchase_date}}</p></br>

        <p style="font-size: 100%; margin: 2% 0 5% 5%;">Purchase ID:</br><span style="color: #CFCFCF; font-size: 75%;"> {{i.id}}  </span></p>

        <p style="margin: 0 0 5% 5%;"> SHIPPING ADDRESS: </br><span style="font-size: 75%;">
        {{i.line1}}</br>

        {% if i.line2 is not none %}
        {{i.line2}}

        {% else %}

        {% endif %}

        {{i.city}} {{i.state}} {{i.postal_code}}</br></span></p>
    </div>

    {%if i.pay_status == "paid" %}
    <div class="card" style="color: white; border-bottom: 4px solid #CFCFCF; grid-column: 1 / 4; background-color: #6DD87D;">
        <p style="margin-left: 5%;"> PAID </p>
    </div>
    {% else %}
    <div class="card" style="color: white; border-bottom: 4px solid #CFCFCF; grid-column: 1 / 4; background-color: #6DD87D;">
        <p> {{i.pay_status}} </p>
    </div>
    {% endif %}
    
{% endfor %}


{% endblock %}


