{% extends "base.html" %} 
{% block title %} Success {% endblock %}
{% block titleconfig %} <div class="card-title" style="background-color: #3BC14A; flex-direction: column;"> {% endblock %}
{% block pagetitle %} THANK YOU! {% endblock %}
{%block titleicon %}<img src="../static/icons/check.svg" class="midicon"> {% endblock %}
{% block head %}
<meta http-equiv="refresh" content="12; url={{url_for('views.home')}}" />
{% endblock %}
{% block content %} 
<div class="card"><p style="text-align: center; color: white;">THANK YOU FOR YOUR PURCHASE!</p></div>
<div class="card"><p style="text-align: center; color: white; font-size: 75%;">An Order Confirmation Has Been Sent To Your Email! </br> (Check Your Junk/Spam Folder) </br> Send any questions or concerns to email@xis.com </p></div>
<div class="card"></div>
<div class="card"><p style="text-align: center; font-size: 75%;">You Will Be Redirected To The Home Page Shortly.</p></div>
{% endblock %}